/* -------------google font-------- */
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Poppins:wght@400;700&display=swap');

/*----------------- common css ------------*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container{
  width: 80vw;
  margin: 0 auto;
  background-color: #fff;
}

.button{
  outline: 0;
  border: 0;
  padding: 10px 24px;
  border-radius: 41px;
  background-color: #758283;
  cursor: pointer;
  color: #fff;
  transition: 0.3s all;
}
.button:hover{
  background-color: #5a6768;
}

/*---------- nav css ---------*/
.toggol-menu{
  display: none;
}
.navbar{
  height: 94px;
  width: 80vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo a{
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: #3A3A3A;
}

.nav-menu ul{
  display: flex;
}
.nav-menu ul li{
  list-style: none;
  margin-right: 25px;
}
.nav-menu ul li a{
  text-decoration: none;
  color: #3A3A3A;
  font-size: 16px;
  font-weight: 600;
}

/*------------- hero section  -------------*/
.hero{
  display: flex;
  align-items: center;
  margin: 50px 0;
}
.hero-details{
  flex-basis: 60%;
}
.hero-details h1{
  font-size: 52px;
  font-weight: 700;
  color: #3A3A3A;
}
.hero-details p{
  font-size: 16px;
  font-weight: 600;
  color: #3A3A3A;
  width: 520px;
  margin: 20px 0;
}
.hero-photo{
  flex-basis: 38%;
}
.hero-bg-pic{
  background-image: url(../images/Circle-design.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}
.hero-bg-pic img{
  width: 440px;
  position: relative;
  top: 0;
  left: 25px;
  transition: transform .5s;
}
.hero-bg-pic img:hover{
  transform: scale(1.1);
}

/*----------- collection section css ---------*/
.collection{
  margin-top: 150px;
}
.section-title h1{
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  color: #3A3A3A;
  margin-bottom: 50px;
}
.photo-cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.card{
  padding: 15px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  cursor: pointer;
}
.card img{
  width: 100%;
}

.card h3{
  font-size: 24px;
  font-weight: 500;
  margin: 16px 0 8px 0;
}
.card p{
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 5px;
  
}
.card .star {
  color: orange;
  font-size: 14px;
  margin-bottom: 10px;
}
.card .star small{
  font-size: 14px;
  color: #5E6366;
}
.card .card-detail{
  font-size: 16px;
  font-weight: 600;
  color: #787885;
}

.side a{
  text-decoration: none;
  color: #8d2d5b;
  font-size: 18px;
  font-weight: 700;
  margin-top: 50px;
  display: block;
  text-align: right;
  margin-bottom: 100px;
}

/*--------- contact section ------------*/
.contact-info{
  margin: 50px 0;
}
.contact-title{
  color: #3A3A3A;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 900;
}
.contact{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.address{
  flex-basis: 48%;
}
.address iframe{
  border-radius: 15px;
}
.form{
  flex-basis: 48%;
}
.form .input-flex{
  display: flex;
  justify-content: space-between;
}
.input-flex input{
  width: 32%;
}
.form h3{
  color: #5E6366;
  width: 100%;
  font-size: 35px;
  text-align: center;
}
.form input{
  background-color: transparent;
  border: 1px solid #999797;
  outline: none;
  padding: 7px 0;
  padding-left: 10px;
  border-radius: 5px;
  margin: 15px 0px;
}
.form textarea{
  width: 100%;
  background-color: transparent;
  border: 1px solid #999797;
  outline: none;
  padding: 7px 5px;
  border-radius: 5px;
}
.form a{
  display: block;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
}

/*-------------- footer section -----------------*/

.footer-info{
  width: 100%;
  text-align: center;
  padding: 50px 0;
  background-color: #2d3436;
}
.footer-info h5{
  font-size: 24px;
  font-weight: 700;
  color: #fff;
}
.footer-info p{
  font-size: 16px;
  font-weight: 400;
  color: #D9DBE1;
  margin-bottom: 10px;
}
.social-icon{
  margin-top: 18px;
}
.footer-info .social-icon a{
  text-decoration: none;
  color: #fff;
  padding: 5px;
  border-radius: 41%;
  background-color: rgba(255, 255, 255, 0.199);
  margin-right: 4px;
}
.social-icon .fab{
  height: 32px;
  width: 32px;
}



/*------------ media quary ------------*/

@media only screen and (max-width:648px) {
  .container{
    width: 90vw;
    margin: 0 auto;
  }
  .navbar{
    display: none;
  }
  .toggol-menu{
    display: block;
  }
  .toggol-menu ul{
    display: flex;
    justify-content: space-around;
  }
  .toggol-menu ul li{
    list-style: none;
    margin: 20px 10px;
  }
  .toggol-menu ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
  }
  .hero{
    flex-direction: column;
  }
  .hero-details{
    order: 2;
    flex-basis: 100%;
  }
  .hero-details h1{
    font-size: 28px;
    text-align: center;
  }
  .hero-details p{
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
  }
  button{
    display: block;
    margin: 0 auto;
  }
  .hero-photo{
    order: 1;
    flex-basis: 100%;
    margin-bottom: 35px;
  }
  .hero-photo img{
    width: 236px;
    left: 7px;
  }
  .hero-bg-pic{
    background-image: url(../images/Circle-design.svg);
    background-size: 96%;
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-title h1{
    font-size: 18px;
    text-align: center;
  }
  .photo-cards{
    grid-template-columns: 1fr;
  }
  .contact-title h1{
    font-size: 18px;
  }
  .contact{
    flex-direction: column;
  }
  .address{
    order: 2;
    flex-basis: 100%;
  }
  .address iframe{
    width: 100%;
  }
  .form{
    order: 1;
    flex-basis: 100%;
  }
  .form h3{
    display: none;
  }
  .input-flex{
    flex-direction: column;
  }
  .input-flex input{
    width: 100%;
  }
  .form a{
    margin-bottom: 20px;
  }
  .footer-info{
    width: 100%;
  }
  .footer-info h5{
    font-size: 16px;
  }
  .footer-info p{
    font-size: 14px;
  }
  .footer-info .fab{
    width: 24px;
    height: 24px;
  }
}